/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*{
    font-family: 'Spartan', sans-serif;

}

body {
 
    margin: 0 auto;
    background-color: rgb(207, 227, 248);
    padding: 8%;
}

.container {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
  }

img {
    border-radius: 50;
}


.column {
    width: 100%;
  }